
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-9">
            <div class="content-wrap">

                <p class="head">লক্ষ্য ও উদ্দেশ্য</p>
                <hr>

                <p style="font-size: 17px; text-align: justify; font-weight: normal">N/A</p>
            </div>






        </div>





        <div class="col-lg-3">
            <div class="module-size">
                <div class="col-lg-offset-6">
                    <div class="module">
                        <div>
                            <div>
                                <div>
                                    <h4>সর্বশেষ আপডেট</h4>
                                    <div class="ja-news">
                                        <marquee behavior="scroll" direction="up" loop="infinite" height="200" scrollamount="1" scrolldelay="2" onmouseover="this.stop()" onmouseout="this.start()">
                                            <p>
                                                <a href="http://www.ramgonjcollege.gov.bd/welcome/noticeDetails/16"><span class="number">1. </span>আইসিটি ব্যবহারিক পরীক্ষার নোটিশ</a><br>
                                                <span class="date"> (Date:11-05-2017)</span>
                                            </p>
                                            <p>
                                                <a href="http://www.ramgonjcollege.gov.bd/welcome/noticeDetails/15"><span class="number">2. </span>NOC</a><br>
                                                <span class="date"> (Date:07-05-2017)</span>
                                            </p>
                                            <p>
                                                <a href="http://www.ramgonjcollege.gov.bd/welcome/noticeDetails/14"><span class="number">3. </span>Degree Forom Fil up Notish</a><br>
                                                <span class="date"> (Date:07-02-2017)</span>
                                            </p>
                                            <p>
                                                <a href="http://www.ramgonjcollege.gov.bd/welcome/noticeDetails/13"><span class="number">4. </span>Degree</a><br>
                                                <span class="date"> (Date:15-11-2016)</span>
                                            </p>
                                            <p>
                                                <a href="http://www.ramgonjcollege.gov.bd/welcome/noticeDetails/12"><span class="number">5. </span>Biggopti, Degree Forom Fil up Notish</a><br>
                                                <span class="date"> (Date:14-11-2016)</span>
                                            </p>
                                        </marquee>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <br />
                <div class="col-lg-offset-6">

                    <div class="module">
                        <h4>অভিযোগ ও পরামর্শ</h4>

                        <a name="contact"></a>
                        <form>
                            <div class="">
                                <p style="color:#4169E1; font-weight: bold"></p>
                            </div>
                            <label>Name:</label>
                            <input type="text" size="23">
                            <br/>
                            <label>Email:</label>
                            <input type="text" name="email" size="23">
                            <br/>
                            <label>Message:</label><br>
                            <textarea type="text" name="message" cols="20" rows="8" required></textarea>
                            <input type="submit" value="Send" style="width: 90%" />
                        </form>

                    </div>
                </div>
            </div>
        </div><br />
    </div>
</div>
