<div class="container-fluid hidden-xs hidden-sm " style="padding:0">
<div  class="carousel slide myimage" data-ride="carousel" data-interval="3000">

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/college1.png" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/college2.png" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/college3.png" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/college4.png" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/college5.png" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/college6.png" class="img-responsive" />
        </div>


    </div>
</div>
    </div>
<div class="container-fluid visible-xs visible-sm " style="padding:0">
    <div class="carousel slide" data-ride="carousel" data-interval="3000">

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/images/college1.png" class="img-responsive" />
            </div>
            <div class="item">
                <img src="~/images/college2.png" class="img-responsive" />
            </div>
            <div class="item">
                <img src="~/images/college3.png" class="img-responsive" />
            </div>
            <div class="item">
                <img src="~/images/college4.png" class="img-responsive" />
            </div>
            <div class="item">
                <img src="~/images/college5.png" class="img-responsive" />
            </div>
            <div class="item">
                <img src="~/images/college6.png" class="img-responsive" />
            </div>


        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
     <div class="col-lg-9">
        
         <div class="col-lg-offset-3" style="text-align:left">
             <hr>
             <h3>প্রতিষ্ঠানের ইতিহাস ও পরিচিতি</h3>
             <hr>

             <p style="text-align:justify;">শিক্ষার গুনগত মানোন্নয়নের লক্ষ্যে ইতোমধ্যে সরকার নির্ধারিত সংখ্যক শিক্ষককে বিভিন্ন বিষয়ে প্রশিক্ষণ প্রদানসহ দেশের সকল শিক্ষা প্রতিষ্ঠানের (স্কুল,কলেজ ও মাদরাসা)প্রতিটি শ্রেণীকক্ষ ল্যাপটপসহ মাল্টিমিডিয়া ক্লাসরুমে রুপান্তরের প্রয়োজনীয় পদক্ষেপ গ্রহণ করেছে। তারই ধারাবাহিকতায় উপজেলা পর্যায়ে ওঈঞ এর বিকাশ,উন্নয়ন এবং ডিজিটাল বাংলাদেশ গড়ার লক্ষ্যে সরকার উপজেলা মাধ্যমিক শিক্ষা অফিসারকে উক্ত কমিটির সদস্য সচিবের দায়িত্ব প্রদান করেছেন। তথ্য-প্রযুক্তির মাধ্যমে উপজেলা মাধ্যমিক শিক্ষা অফিস ও এই অফিসের আওতাধীন বিভিন্ন শিক্ষা প্রতিষ্ঠানের সংক্ষিপ্ত বর্ণনা,প্রতিষ্ঠাকাল,ছাত্র-ছাত্রীদের তথ্য,শিক্ষক-শিক্ষিকার তথ্য,প্রতিষ্ঠান পরিচালনা কমিটির তথ্য,বিগত ৫ বছরের সমাপনি ও পাবলিক পরীক্ষা এবং শিক্ষা প্রতিষ্ঠানের আভ্যন্তরীণ পরীক্ষার ফলাফল,শিক্ষা প্রতিষ্ঠানের বিভিন্ন অর্জন,ভবিষ্যত পরিকল্পনা ইত্যাদি যাবতীয় তথ্যাদি উক্ত ওয়েব সাইটের মাধ্যমে পাওয়া যাবে। একটি ওয়েব পোর্টাল শিক্ষা প্রতিষ্ঠানের যাবতীয় তথ্যাবলী সকলের মাঝে ছড়িয়ে দিতে যে ভূমিকা পালন করতে সক্ষম এর তুলনায় অন্য কোন মাধ্যমে তা সম্ভব নয়।......</p>
             <a asp-area="" asp-controller="Home" asp-action="AboutHistory">
                 Read more...
             </a>

             



         </div>
         <div class="col-lg-offset-3">
             <hr>
             <h3>অধ্যক্ষের বাণী</h3>
             <hr>
                 <p style="text-align:justify;">
                     <img src="~/images/teachers/Principal_sir.png" class="content-image">
                     <span>
                         Ramgonj Govt. College is an educational institution undertaking the esponsibility of ensuring modern and quality education of this age of globalization since its birth in 1967 to the students of Higher Secondary (HSC) under Secondary and Higher Secondary Board, Comilla and Graduation level (Pass) courses under National University, Bangladesh with 14 departments in various disciplines.
                     </span>
                 </p>
                 <a href="http://www.ramgonjcollege.gov.bd/welcome/principle" title="Home" class="readon">
                     Read more...
                 </a>


             
         </div>
         <div class="col-lg-offset-3">
             <hr>
             <h3>উপাধ্যক্ষের বাণী</h3>
             <hr>
             
             <div class="article-content">
                 <p style="text-align:justify;">
                     <img src="~/images/teachers/Khondokar_monjur_morshed.png" class="content-image">
                     <span>
                          
                         Ramgonj Govt. College is an educational institution undertaking the esponsibility of ensuring modern and quality education of this age of globalization since its birth in 1967 to the students of Higher Secondary (HSC) under Secondary and Higher Secondary Board, Comilla and Graduation level (Pass) courses under National University, Bangladesh with 14 departments in various disciplines.
                     </span>
                 </p>
                 <a href="http://www.ramgonjcollege.gov.bd/welcome/president" title="Home" class="readon">
                     Read more...
                 </a>


             </div>
         </div>

     </div>
       
 
    

    <div class="col-lg-3">
      <div class="module-size">
        <div class="col-lg-offset-6">
            <div class="module">
                <div>
                    <div>
                        <div>
                            <h4>সর্বশেষ আপডেট</h4>
                            <div class="ja-news">
                                <marquee behavior="scroll" direction="up" loop="infinite" height="200" scrollamount="1" scrolldelay="2" onmouseover="this.stop()" onmouseout="this.start()">
                                    <p>
                                        <a href="http://www.ramgonjcollege.gov.bd/welcome/noticeDetails/16"><span class="number">1. </span>আইসিটি ব্যবহারিক পরীক্ষার নোটিশ</a><br>
                                        <span class="date"> (Date:11-05-2017)</span>
                                    </p>
                                    <p>
                                        <a href="http://www.ramgonjcollege.gov.bd/welcome/noticeDetails/15"><span class="number">2. </span>NOC</a><br>
                                        <span class="date"> (Date:07-05-2017)</span>
                                    </p>
                                    <p>
                                        <a href="http://www.ramgonjcollege.gov.bd/welcome/noticeDetails/14"><span class="number">3. </span>Degree Forom Fil up Notish</a><br>
                                        <span class="date"> (Date:07-02-2017)</span>
                                    </p>
                                    <p>
                                        <a href="http://www.ramgonjcollege.gov.bd/welcome/noticeDetails/13"><span class="number">4. </span>Degree</a><br>
                                        <span class="date"> (Date:15-11-2016)</span>
                                    </p>
                                    <p>
                                        <a href="http://www.ramgonjcollege.gov.bd/welcome/noticeDetails/12"><span class="number">5. </span>Biggopti, Degree Forom Fil up Notish</a><br>
                                        <span class="date"> (Date:14-11-2016)</span>
                                    </p>
                                </marquee>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
          <br/>
        <div class="col-lg-offset-6">

         <div class="module">
            <h4>অভিযোগ ও পরামর্শ</h4>

            <a name="contact"></a>
            <form>
                <div class="">
                    <p style="color:#4169E1; font-weight: bold"></p>
                </div>
                <label>Name:</label>
                <input type="text" size="23">
                <br/>
                <label>Email:</label>
                <input type="text" name="email" size="23">
                <br />
                <label>Message:</label><br>
                <textarea type="text" name="message" cols="20" rows="8" required></textarea>
                <input type="submit" value="Send" style="width: 90%" />
            </form>

         </div>
        </div>
      </div>
    </div><br />
 </div>
</div>
