<div class="container">

    <!--[NOTE: FOR DESKTOP]-->
    <div class="container-fluid hidden-xs hidden-sm " style="padding:0">
        <div class="container">
            <h1 class="page-title">Faculty Member</h1>
            <div class="col-sm-12 ">
                <div class="panel-body">
                    <div class="top-buffer"></div>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>SL.</th>
                                <th>Photo</th>
                                <th>Name</th>
                                <th>Department</th>
                                <th>Contact</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>

                                <td>1</td>
                                <td>
                                    <img src="~/images/teachers/Principal_sir.png" width="120" height="120" />
                                </td>
                                <td>
                                    <h4>MD. IQRAMUL HOQUE</h4>



                                    <p>PRINCIPAL</p>
                                </td>
                                <td>MATHEMATICS</td>
                                <td>


                                    <p>Phone: &#x2B;8801815419777</p>

                                </td>
                            </tr>
                            <tr>

                                <td>2</td>
                                <td>
                                    <img src="~/images/teachers/Khondokar_monjur_morshed.png" width="120" height="120" />
                                </td>
                                <td>
                                    <h4>KHANDAKER MONJUR MORSHED</h4>
                                    <p>VICE PRINCIPAL</p>
                                </td>
                                <td>ISLAMIC HISTORY & CULTURE</td>
                                <td>


                                    <p>Phone: &#x2B;8801712549326</p>

                                </td>
                            </tr>
                            <tr>

                                <td>3</td>
                                <td>
                                    <img src="~/images//teachers/Rafiq.jpg" width="120" height="120" />
                                </td>
                                <td>
                                    <h4>MD. RAFIQ ULLAH</h4>

                                    <p>ASSOCIATE PROFESSOR</p>
                                </td>
                                <td>POLITICAL SCIENCE</td>
                                <td>
                                    <p>Phone: &#x2B;8801927381200</p>
                                </td>
                            </tr>
                            <tr>

                                <td>4</td>
                                <td>
                                    <img src="~/images/teachers/KABIR_SIR.jpg" width="120" height="120" />
                                </td>
                                <td>
                                    <h4>MD. KABIR HOSSAIN</h4>
                                    <p>ASSOCIATE PROFESSOR</p>
                                </td>
                                <td>ECONOMICS</td>
                                <td>

                                    <p>Phone: &#x2B;8801716895091</p>
                                </td>
                            </tr>
                            <tr>

                                <td>5</td>
                                <td>
                                    <img src="~/images/teachers/Md._Nizam_uddin_.jpg" width="120" height="120" />
                                </td>
                                <td>
                                    <h4>Md. Nezam Uddin</h4>

                                        <p>Assistant PROFESSOR</p>
                                </td>
                                <td>Physics</td>
                                <td>

                                    <p>Phone: &#x2B;8801712920764/ &#x2B;8801972920764</p>
                                </td>
                            </tr>
                            <tr>

                                <td>6</td>
                                <td>
                                    <img src="~/images/teachers/alam.jpg" width="120" height="120" />
                                </td>
                                <td>
                                    <h4>MD. SHAMSUL ALAM</h4>
                                    <p>ASSISTANT PROFESSOR</p>
                                </td>
                                <td>MATHEMATICS </td>
                                <td>

                                    <p>Phone: &#x2B;8801712780168</p>
                                </td>
                            </tr>



                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>

    <!--[NOTE: FOR PAD OR MOBILE]-->
    <div class="container-fluid visible-xs visible-sm " style="padding:0">
        <div class="mobile">

            <h1 class="page-title">Faculty Member</h1>
            <div class="col-sm-6 col-xs-12">
                <img src="~/images/teachers/Principal_sir.png" />

                <h2><b>MD. IQRAMUL HOQUE</b></h2>
                <p>
                    <span><b>PRINCIPAL</b></span><br />
                    <span> MATHEMATICS</span>
                </p>
                <p>
                    <span><b> Phone: &#x2B;01815419777</b></span>
                </p>
            </div>

            <div class="col-sm-6 col-xs-12">
                <img src="~/images/teachers/Khondokar_monjur_morshed.png" />

                <h2><b>KHANDAKER MONJUR MORSHED</b></h2>
                <p>
                    <span><b>VICE PRINCIPA</b></span><br />
                    <span> ISLAMIC HISTORY & CULTURE</span>
                </p>
                <p>
                    <span><b> Phone: &#x2B;8801712549326</b></span>
                </p>
            </div>
            <div class="col-sm-6 col-xs-12">
                <img src="~/images/teachers/Rafiq.jpg" />

                <h2><b>MD. RAFIQ ULLAH</b></h2>
                <p>
                    <span><b>ASSOCIATE PROFESSOR</b></span><br />
                    <span> POLITICAL SCIENCE</span>
                </p>
                <p>
                    <span><b> Phone: &#x2B;8801927381200</b></span>
                </p>
            </div>
           
                <div class="col-sm-6 col-xs-12">
                    <img src="~/images/teachers/KABIR_SIR.jpg" />

                    <h2><b>MD. KABIR HOSSAIN</b></h2>
                    <p>
                        <span><b>ASSOCIATE PROFESSOR</b></span><br />
                         <span> ECONOMICS</span>
                    </p>
                    <p>
                        <span><b> Email: demo.mail@gmail.com</b></span><br />
                        <span><b> Phone: &#x2B;8801716895091</b></span>
                    </p>
                </div>
                
                    
                <div class="col-sm-6 col-xs-12">
                    <img src="~/images/teachers/Md._Nizam_uddin_.jpg" />

                    <h2><b>Md. Nezam Uddin</b></h2>
                    <p>
                        <span><b>Assistant PROFESSOR</b></span><br />
                                                    <span> Physics</span>
                    </p>
                    <p>
                        <span><b> Email: demo.mail@gmail.com</b></span><br />
                        <span><b> Phone: 01712920764/ 01972920764</b></span>
                    </p>
                </div>
               
            <div class="col-sm-6 col-xs-12">
                <img src="~/images/teachers/alam.jpg" />

                <h2><b>MD. SHAMSUL ALAM</b></h2>
                <p>
                    <span><b>ASSISTANT PROFESSOR</b></span><br />
                                                           <span> MATHEMATICS </span>
                </p>
                <p>
                    <span><b> Email: demo.mail@gmail.com</b></span><br />
                    <span><b> Phone: &#x2B;8801712780168</b></span>
                </p>
            </div>

        </div>
    </div>


</div>


